<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Money!</title>
    {{> header}}

</head>
<body bgcolor="#E6E6FA">
{{> links}}

<center>
    <p>{{money}}</p>
    <p>Money Money Money Money</p>
</center>
</body>
{{> footer}}

</html>