<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Me, me me!</title>
    {{> header}}

</head>
<body bgcolor="#E6E6FA">
{{> links}}

<center>
    <img src ='https://tce-live2.s3.amazonaws.com/media/media/27a91a18-e670-4413-8d60-41697df14646.jpg' alt="ahh">
    <p>My name is Derek and I am really sad that I did not get 100% on my midterm for Networking class</p>
    <p>Is a kebab a type of popsicle?</p>
</center>
</body>
{{> footer}}

</html>